<div class="post-container">
  <% posts.forEach(function(post) { %>
    <article class="post">
      <a href="<%= (basePath || '') + post.url %>">
        <h2 class="post-title"><%= post.data.title %></h2>
      </a>
      <div class="post-info">
        <span>
          <%= post.date.toISOString().slice(0, 10) %>
        </span>
        <% if (post.data.readingTime) { %>
          <span>
            <%= post.data.readingTime %>
          </span>
        <% } %>
        <% (post.data.tags || []).forEach(function(tag) { %>
          <a href="<%= (basePath || '') + '/tag/' + encodeURIComponent(tag) + '/' %>" class="post-tag">
            # <%= tag %>
          </a>
        <% }); %>
      </div>
      <% if (theme.showFeatureImage && post.data.feature) { %>
        <a href="<%= (basePath || '') + post.url %>" class="post-feature-image" style="background-image: url('<%= post.data.feature %>')">
        </a>
      <% } %>
      <% if (theme.customConfig.showAbstract && post.data.abstract) { %>
        <div class="post-abstract">
          <%- post.data.abstract %>
        </div>
      <% } %>
    </article>
  <% }); %>
</div>

